.period {
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.period > div{
    width: 100%;
}

.period > span {
    color: white;
    font-weight: bold;
}

@media (max-width: 768px) {
    .period {
        width: 110px;
    }

}