.grade-container {
    max-width: 100vw;
    overflow-x: auto;
}

.grade {

    width: min-content;
    min-height: calc(100vh - 142px);
    padding: 20px;
    margin: 70px auto;
    display: flex;
    gap: 15px;
}