.subject {
    width: 100%;
    height: 65px;
    background-color: var(--gray);
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    text-align: center;
    /* padding: 5px; */
    user-select: none;

    border: 2px solid rgb(54, 54, 54);
    border-collapse: collapse;
    margin: 2px;
}

.subject .code {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.subject.selected{
    color: black;
    background-color: rgb(179, 177, 255);

}

.subject.primary_req{
    color: black;
    background-color: rgb(151, 255, 159) !important;

}

.subject.secondary_req{
    color: black;
    background-color: rgb(167, 248, 237) !important;
    
}

.subject.primary_pre{
    color: black;
    background-color: rgb(255, 128, 128) !important;
    
}

.subject.secondary_pre{
    color: black;
    background-color: rgb(243, 202, 255) !important;
}


.subject .code {
    font-weight: 800;
    font-size: 12px;
}

.subject .name {
    font-weight: bold;
    font-size: 11px;
    padding: 2px;
    line-height: 12px;
    text-transform: lowercase;
    width: 100%;
}

@media (max-width: 768px){
    .subject {
        height: 60px;
    }

    .subject .code {
        font-size: 10px;
    }
    
    .subject .name {
        font-weight: bold;
        font-size: 8px;
        line-height: 10px;
        text-transform: lowercase;
        width: 100%;
    }
}