:root {
    --gray:rgb(0, 0, 0);
    --light-gray:rgb(202, 202, 202);
    --red: #962038;
    --background-page: #1d1d1d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
}

body {
    background-color: var(--background-page);
}