:root {
    --gray:rgb(34, 34, 34);
    --light-gray:rgb(228, 228, 228);
    --red: #962038;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}